<div class="form-container">
  <form
    class="form-container__login-form"
    [formGroup]="form"
    (ngSubmit)="authenticate()"
  >
  <h1 class="form-container__heading">Login</h1>
    <div class="form-container__form-group">
      <label for="username" class="form-container__label">Username</label>
      <input
        type="text"
        class="form-container__input"
        formControlName="userName"
      />
    </div>
    <div class="form-container__form-group">
      <label for="password" class="form-container__label">Password</label>
      <input
        type="password"
        class="form-container__input"
        formControlName="password"
      />
    </div>
    <button type="submit" class="form-container__btn">Login</button>
    <button class="form-container__btn" (click)="logout()">Log out</button>
  </form>
</div>
